/* Created by priyanshi soni */
h1 {
    font-size: 18pt;
    color:#009d9d;
    text-align: center;
    padding: 18px 0 10px 0;
    margin: 0 0 10px 0;
}
h1 span {
    border: 4px dashed  #840088;
    padding: 10px;
}
button{
     height:50px;
     width:65px;
     background-color:blink ;
     border-radius:20px;
     display:block;
 }  

.size{
     height:400px;
     width:300px;
     background-color:black;
     border-radius:20px;
     font-size:65px;
     display:block;
 }

.but{
font-size: 45px;
    color:blink;
    background-color:;
    align:top;
    border-radius:100%;
    top:50px;
}
